<div>
  <h2 id="page-heading" data-cy="UserCommentHeading">
    <span jhiTranslate="propfirmApp.userComment.home.title">User Comments</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="propfirmApp.userComment.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-user-comment"
        [routerLink]="['/user-comment/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="propfirmApp.userComment.home.createLabel"> Create a new User Comment </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="userComments?.length === 0">
    <span jhiTranslate="propfirmApp.userComment.home.notFound">No userComments found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="userComments && userComments.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="commentTitle">
            <span jhiTranslate="propfirmApp.userComment.commentTitle">Comment Title</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="commentBody">
            <span jhiTranslate="propfirmApp.userComment.commentBody">Comment Body</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="commentMedia">
            <span jhiTranslate="propfirmApp.userComment.commentMedia">Comment Media</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="dateAdded">
            <span jhiTranslate="propfirmApp.userComment.dateAdded">Date Added</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="makePublicVisibleOnSite">
            <span jhiTranslate="propfirmApp.userComment.makePublicVisibleOnSite">Make Public Visible On Site</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="tradeJournalPost.postTitle">
            <span jhiTranslate="propfirmApp.userComment.tradeJournalPost">Trade Journal Post</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="dailyAnalysisPost.postTitle">
            <span jhiTranslate="propfirmApp.userComment.dailyAnalysisPost">Daily Analysis Post</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="user.login">
            <span jhiTranslate="propfirmApp.userComment.user">User</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let userComment of userComments; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/user-comment', userComment.id, 'view']">{{ userComment.id }}</a>
          </td>
          <td>{{ userComment.commentTitle }}</td>
          <td>{{ userComment.commentBody }}</td>
          <td>
            <a
              *ngIf="userComment.commentMedia"
              (click)="openFile(userComment.commentMedia, userComment.commentMediaContentType)"
              jhiTranslate="entity.action.open"
              >open</a
            >
            <span *ngIf="userComment.commentMedia"
              >{{ userComment.commentMediaContentType }}, {{ byteSize(userComment.commentMedia) }}</span
            >
          </td>
          <td>{{ userComment.dateAdded | formatMediumDatetime }}</td>
          <td>{{ userComment.makePublicVisibleOnSite }}</td>
          <td>
            <div *ngIf="userComment.tradeJournalPost">
              <a [routerLink]="['/trade-journal-post', userComment.tradeJournalPost?.id, 'view']">{{
                userComment.tradeJournalPost?.postTitle
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="userComment.dailyAnalysisPost">
              <a [routerLink]="['/daily-analysis-post', userComment.dailyAnalysisPost?.id, 'view']">{{
                userComment.dailyAnalysisPost?.postTitle
              }}</a>
            </div>
          </td>
          <td>
            {{ userComment.user?.login }}
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/user-comment', userComment.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/user-comment', userComment.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(userComment)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
