<div>
	<table>
	 <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col">
            <span jhiTranslate="propfirmApp.tradeChallenge.tradeChallengeName">Trade Challenge Name</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col">
            <span jhiTranslate="propfirmApp.tradeChallenge.startDate">Start Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col">
            <span jhiTranslate="propfirmApp.tradeChallenge.runningMaxTotalDrawdown">Running Max Total Drawdown</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col">
            <span jhiTranslate="propfirmApp.tradeChallenge.runningMaxDailyDrawdown">Running Max Daily Drawdown</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col">
            <span jhiTranslate="propfirmApp.tradeChallenge.rulesViolated">Rules Violated</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col">
            <span jhiTranslate="propfirmApp.tradeChallenge.ruleViolated">Rule Violated</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col">
            <span jhiTranslate="propfirmApp.tradeChallenge.ruleViolatedDate">Rule Violated Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col">
            <span jhiTranslate="propfirmApp.tradeChallenge.mt4Account">Mt 4 Account</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col">
            <span jhiTranslate="propfirmApp.tradeChallenge.siteAccount">Site Account</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col">
            <span jhiTranslate="propfirmApp.tradeChallenge.challengeType">Challenge Type</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
	<tbody>
        <tr *ngFor="let tradeChallenge of tradeChallenges;" data-cy="entityTable">
          <td>
            <a [routerLink]="['/trade-challenge', tradeChallenge.id, 'view']">{{ tradeChallenge.id }}</a>
          </td>
          <td>{{ tradeChallenge.tradeChallengeName }}</td>
          <td>{{ tradeChallenge.startDate | formatMediumDatetime }}</td>
          <td>{{ tradeChallenge.runningMaxTotalDrawdown }}</td>
          <td>{{ tradeChallenge.runningMaxDailyDrawdown }}</td>
          <td>{{ tradeChallenge.rulesViolated }}</td>
          <td>{{ tradeChallenge.ruleViolated }}</td>
          <td>{{ tradeChallenge.ruleViolatedDate | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="tradeChallenge.mt4Account">
              <a [routerLink]="['/mt-4-account', tradeChallenge.mt4Account?.id, 'view']">{{ tradeChallenge.mt4Account?.accountLogin }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="tradeChallenge.siteAccount">
              <a [routerLink]="['/site-account', tradeChallenge.siteAccount?.id, 'view']">{{ tradeChallenge.siteAccount?.accountName }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="tradeChallenge.challengeType">
              <a [routerLink]="['/challenge-type', tradeChallenge.challengeType?.id, 'view']">{{
                tradeChallenge.challengeType?.challengeTypeName
              }}</a>
            </div>
          </td>

        </tr>
      </tbody>
    </table>

	<div class="row justify-content-center">
		Loading {{ this.isLoading }} 
		Accounts {{ this.siteAccounts }} 
	</div>

		<!-- 
		<p-splitter [style]="{'height': '300px'}">
    <ng-template pTemplate>
        Panel 1
    </ng-template>
    <ng-template pTemplate>
        Panel 2
    </ng-template>
</p-splitter>


<div class="card">
	<h5>Vertical</h5>
		<p-splitter [style]="{'height': '300px'}" styleClass="p-mb-5" layout="vertical">
			<ng-template>
				<div class="p-col p-d-flex p-ai-center p-jc-center">
					Panel 1
				</div>
			</ng-template>
			<ng-template>
				<div class="p-col p-d-flex p-ai-center p-jc-center">
					Panel 2
				</div>
			</ng-template>
		</p-splitter>
	</div>
	

	<p-chart type="line" [data]="data"></p-chart>
-->
	