<div class="row">
  <div class="col-md-1">
    <span class="hipster img-fluid rounded"></span>
  </div>

  <div class="col-md-10">

	<div>
	Ready to take your trading career to the next level? 
	
	<ul>
		<li>FAQ link</li>
		<li>CSupport link</li>
		<li>Training link</li>
		<li>Psychology link</li>
	</ul>
	
	
	Why choose us?
	<ul>
		<li>Professional spreads - link to live spreads</li>
		<li>Created by traders for traders</li>
		<li>Upgrade path - 3 months profit on an account opend the option to upgrade to the next level account at no cost</li>  
	</ul>
	
	To get your prop trading carrer strarted choose the pathway of your choice below to begin the challenge period.
	</div>
	<div class="container">
	    <div class="panel pricing-table">
	      <div class="pricing-plan">
	        <img src="../../../content/images/25kplan.png" alt="" class="pricing-img" width="180px" height="100px">
	        <h2 class="pricing-header">25K Account</h2>
	        <ul class="pricing-features">
		        <li class="pricing-features-item">25000 USD Account</li>
				<li class="pricing-features-item">30:1 Account Leverage</li>
		        <li class="pricing-features-item">1000 USD Max Daily Drawdown</li>
		        <li class="pricing-features-item">2000 USD Max Total Drawdown</li>
		        <li class="pricing-features-item">80/20 profit split</li>
				<li class="pricing-features-item">Phase 1 profit target 2000 USD, 30 days</li>
				<li class="pricing-features-item">Phase 2 profit target 1000 USD, 60 days</li>
	        </ul>
	        <span class="pricing-price">299</span>
			<button type="submit" class="btn btn-primary" jhiTranslate="pathways.form.button" [routerLink]="['/account/register', 25]">Select</button>
	      </div>
	      <div class="pricing-plan">
	        <img src="../../../content/images/50kplan.png" alt="" class="pricing-img" width="180px" height="100px">
	        <h2 class="pricing-header">50K Account</h2>
	        <ul class="pricing-features">
		        <li class="pricing-features-item">50000 USD Account</li>
				<li class="pricing-features-item">30:1 Account Leverage</li>
		        <li class="pricing-features-item">2000 USD Max Daily Drawdown</li>
		        <li class="pricing-features-item">4000 USD Max Total Drawdown</li>
		        <li class="pricing-features-item">80/20 profit split</li>
				<li class="pricing-features-item">Phase 1 profit target 4000 USD, 30 days</li>
				<li class="pricing-features-item">Phase 2 profit target 2000 USD, 60 days</li>
	        </ul>
	        <span class="pricing-price">499</span>
			<button type="submit" class="btn btn-primary" jhiTranslate="pathways.form.button" [routerLink]="['/account/register', 50]">Select</button>
	      </div>
	      <div class="pricing-plan">
	        <img src="../../../content/images/100kplan.png" alt="" class="pricing-img" width="180px" height="100px">
	        <h2 class="pricing-header">100K Account</h2>
	       <ul class="pricing-features">
		        <li class="pricing-features-item">100000 USD Account</li>
				<li class="pricing-features-item">30:1 Account Leverage</li>
		        <li class="pricing-features-item">4000 USD Max Daily Drawdown</li>
		        <li class="pricing-features-item">8000 USD Max Total Drawdown</li>
		        <li class="pricing-features-item">80/20 profit split</li>
				<li class="pricing-features-item">Phase 1 profit target 8000 USD, 30 days</li>
				<li class="pricing-features-item">Phase 2 profit target 4000 USD, 60 days</li>
	        </ul>
	        <span class="pricing-price">699</span>
			<button type="submit" class="btn btn-primary" jhiTranslate="pathways.form.button" [routerLink]="['/account/register', 100]">Select</button>
	      </div>
		</div>
	</div>   
 	
  </div>
<div class="col-md-1">
    <span class="hipster img-fluid rounded"></span>
  </div>
</div>
